
.title{
    text-align: center;
    text-decoration: underline;
}

.formname{
    text-align: center;
}

.bad{
    text-align: right;
}

.date{
    text-align: right;
    margin-right: 80px;
}

label{
    margin-top: 10px;
}

input{
    margin-top: 10px;
}

select{
    margin-top: 10px;
}

body{
    background-color:aqua;
}
